html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
}

img {
    /* display: none; */
    width: 10%;
    margin: 2% 45%;
}

section {
    display: flex;
    background-color: lightgray;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}